# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
#virtualenv
env/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

### editores de texto/codigo ###
./.idea/
